<%- include('../header.ejs') %>
<h1 class="text-center">view page</h1>

<div class="container-fluid" style="font-family: cursive;">
<h4>Name:- <%= view.name %></h4>
<h4>Email:- <%= view.email %></h4>
<h4>Phone:- <%= view.phoneno %></h4>
<h4>10th marks:- <%= view.tenth %></h4>
<h4>12th marks:- <%= view.tweleth %></h4>
</div>
<%- include('./footer.ejs') %>